/* Primary color: #2a255b */
/* Secondary color: #413178 */
/* Light color: #aca6c4 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(20, 20, 20);
    position: relative;
    padding-bottom: 80px;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, sans-serif,Arial, Helvetica, sans-serif;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 36px 0px 0px 20px;
}
header > a{
    color: white;
}
main{
    display:flex;
    flex-direction: column;
    padding: 0px 10px;
    /* min-height: calc(100vh - 40px - 70px); */
    /* height: fit-content; */
}
main > p {
    color: black;
}
main > section:first-child{
    padding: 0px 15px;
}
#searchbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    border-radius: 25px;
    background: white;
    color: #413178;
}

.buscador:hover{
    background: rgb(216, 216, 216);
}
.buscador>.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left>p{
    padding: 12px 0px 0px 10px;
    color: gray;
}
.buscador > p{
    color: gray;
}
footer{
    position: fixed;
    z-index: 4;
    bottom: 0;
    width: 100%;
    background: white;
    border-radius: 25px 25px 0px 0px;
}

.navigation{
    display: flex;
    padding: 10px 0px 0px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.navigation > div > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #6b52b9;
}
.navigation > div > a:hover{
    color: #3b2b70;
}
.card{
    width: auto;
    height: 100%;
}

.card-img{
    height: 100%;
    object-fit: cover;
    filter: blur(0.9px);
}

.option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.option>img{
    width: 200px;
    height: 120px;
    object-fit:fill;
}
#box-escribiendo>.row{
    padding: 0px 0px 10px 0px;
    margin :0px;
    border-bottom: 1px solid #413178;
}

@media  screen and (min-width:900px) {
    .buscador{
        font-size: 18pt;
    }
}