/* Primary color: #2a255b */
/* Secondary color: #413178 */
/* Light color: #aca6c4 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(20, 20, 20);
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, sans-serif,Arial, Helvetica, sans-serif;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
    color: #413178;
}
header > a{
    color: white;
}
main{
    display:flex;
    flex-direction: column;
    padding: 0px 30px;
    /* min-height: calc(100vh - 40px - 70px); */
    /* height: fit-content; */
}
main > p {
    color: black;
}

main > section {
    text-align:start;
}
main > section > p{
    font-size:12pt;
    font-weight: bold;
}
.btn-custom{
    background-color: #413178;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    color: white;
}

.btn-primario{
    text-decoration: none;
    background: #4080FE;
    border-radius: 6px;
    padding: 10px 34px;
    color: white;
    margin-top: 40%;
}

.btn-primario:hover{
    background: #2363e4;
    color: rgb(226, 226, 226);
}

footer{
    position: fixed;
    z-index: 4;
    bottom: 0;
    width: 100%;
    background: white;
    border-radius: 25px 25px 0px 0px;
}

.navigation{
    display: flex;
    padding: 10px 0px 0px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.navigation > div > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #6b52b9;
}
.navigation > div > a:hover{
    color: #3b2b70;
}
.similares{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    gap: 7px;
    font-size: 10pt;
    font-weight: bold;
}
.similares > p{
    padding: 10px 0px 0px 0px; /*Considerar*/
}
.similares > img{
    width: calc(100%/5);
    border-radius: 50%;
    object-fit: cover;
}


/* Carousel for suscriptions*/
.wrapper{
    margin-top: 20px;
    max-width: auto;
}

.wrapper .carousel{
    display: flex;
    flex-direction: row;
    gap: 12px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}

.carousel > img{
    height: calc(100%/8); /*OPcional*/
    object-fit: cover;
    width: calc(100%/8);
    border-radius: 50%;
    border: 2px solid white;
}
/* Fin */

/* Carousel for cards*/
.carousel.dragging > .tarjeta{
    pointer-events: none;
}

.carousel > .tarjeta{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: calc(100%/6);
    border-radius: 6px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
.carousel> .tarjeta> .tarjeta-body{
    height: calc(100%/4);
    background: rgba(0,0,0,0.5);
    z-index: 3;
    color: white;
    font-size: 8pt;
}
.tarjeta-body>p{
    text-align: center;
}
/* Fin */

/* Carousel for Autor*/
.carousel > .autor-profile{
    height: calc(100%/6);
    display: flex;
    flex-direction: column;
    min-width: calc(100%/6);
    border-radius: 6px;
}
.carousel > .autor-profile>img{
    width: 100%;
}
.carousel> .autor-profile> .autor-body{
    z-index: 3;
    color: #aca6c4;
    font-size: 8pt;
}
.autor-body>p{
    padding-top: 6px;
    text-align: center;
    font-weight: normal;
}
/* Fin */

@media  screen and (max-width: 900px) {
    .carousel >.tarjeta{
        height: 200px;
        min-width: calc(100%/4);
    }
    .carousel >.autor-profile{
        height: calc(100%/4);
        min-width: calc(100%/4);
    }
    .carousel img{
        width: calc(100%/4);
    }
}
@media  screen and (max-width: 550px) {
    .carousel >.tarjeta{
        height: 143px;
        min-width: calc(100%/3);
    }
    .carousel >.autor-profile{
        height: calc(100%/3);
        min-width: calc(100%/3);
    }
    .carousel img{
        width: calc(100%/3);
    }
}