<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="/css/principal/inicio.css">
    <script src="../../js/carousel.js" defer></script>
    <title>Pagina de inicio</title>
</head>
<body>
    <header>
        <a href="../profile/perfil.html">
            <i class='bx bx-lg bx-user-circle'></i>
        </a>
    </header>
    <main>
        <section class="mb-3">
            <p>Suscripciones</p>
            <div class="wrapper">
                <div class="carousel">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 2.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 3.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 5.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 5.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                </div>
            </div>
        </section>
        <section class="my-2">
            <p>Escuchado recientemente</p>
            <div class="wrapper">
                <div class="carousel">
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-2">
            <div class="similares">
                <img src="../../img/perfil/sub 1.jpg" alt="Pedro Martines" class="img-fluid">
                <p>SIMILARES A <br>PedroMartines</p>
            </div>
            <div class="wrapper">
                <div class="carousel">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 2.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 3.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 5.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                </div>
            </div>
        </section>
        <section class="my-2">
            <p>Escucha algo nuevo</p>
            <div class="wrapper">
                <div class="carousel">
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                    <div class="tarjeta" style="background-image: url('/img/sub 4.jpg');">
                        <div class="tarjeta-body">
                            <p class="tarjeta-text">Title</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-2">
            <p>Podcast de la semana</p>
            <div class="wrapper">
                <div class="carousel">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 2.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 3.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 5.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                    <img src="../../img/perfil/sub 1.jpg"  draggable="false" alt="">
                </div>
            </div>
        </section>
        <section class="my-3">
            <p>Narradores nuevos</p>
            <div class="wrapper">
                <div id="carousel1" class="carousel">
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                    <div class="autor-profile">
                        <img src="/img/perfil/sub 3.jpg" class="img-fluid" alt="Autor">
                        <div class="autor-body">
                            <p class="autor-text">Autor</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <nav class="navigation">
            <div class="inicio">
                <a href="inicio.html">
                    <i class='bx bx-sm bx-home'></i>
                    <p>Inicio</p>
                </a>
            </div>
            <div class="buscar">
                <a href="buscar.html">
                    <i class='bx bx-sm bx-search'></i>
                    <p>Buscar</p>
                </a>
            </div>
            <div class="biblioteca">
                <a href="biblioteca.html">
                    <i class='bx bx-sm bx-bookmark'></i>
                    <p>Biblioteca</p>
                </a>
            </div>
        </nav>
    </footer>

    <!-- Bundle Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>