
/* Primary color: #2a255b */
/* Secondary color: #413178 */
/* Light color: #aca6c4 */

body{
    display: flex;
    flex-direction: column;
    background: #212121;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, sans-serif,Arial, Helvetica, sans-serif;
    color: white;
    /* font-weight: bold; */
}

header{
    z-index: 0;
    background: #413178;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 20rem;
    padding: 36px 0px 0px 15px;
    margin: 0px;
    border-radius: 0px 0px 100% 100%;
    /* border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%; */
}
header > a{
    color: white;
}
header > .info-user{
    align-self: center;
    align-items: center;
    text-align: center;
    margin-bottom:20px ;
}

main{
    z-index: 1;
    top: 0;
    padding: 0px 40px 0px 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: auto;
    /* height: fit-content; */
    width: 100%;
}
main > .options{
    width: 100%;
}
.btn-custom{
    background-color: #413178;
    text-align: center;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    color: white;
}
main > a{
    text-decoration: none;
    color: black;
}
.divider{
    width: 100%;
    border: 2px solid white;
}
#lista-options{
    width: 100%;
    padding: 10px 0px 0px 30px;
    text-align: start;
}